accelerate>=0.27.2
datasets
evaluate 
kagglehub
matplotlib
openai
pandas
python-dotenv
scikit-learn
seaborn
sentencepiece
supabase
tiktoken
transformers==4.40.2
torch>=2.6.0
wandb
boto3
faiss-gpu-cu12
pyarrow
s3fs>=2024.6.0
fsspec>=2024.6.0
